#NODE_ENV = dev
NODE_ENV=production
SERVER_PORT = 3010
COOKIE_DOMAIN = .euw.devtunnels.ms

#DATABASE
MONGO_DB_URL = 'mongo db full url'
MONGO_DB_NAME = 'db name'

#MAIL SERVICE
MAIL_USER = 'your login to mail account'
MAIL_PASS = 'your password to mail accoutn'
MAIL_ADDRESS = 'your mail address'
MAIL_ADD_PASS = 'additional password'

#JWT
JWT_STORE_NAME = 'refreshTokens'
JWT_MAIN_SECRET = 'your secret code'
JWT_ALGO = 'HS256'

JWT_MAIN_EXPIRESIN = '15s'
JWT_MAIN_ISSUER = '3A-api'

JWT_REFRESH_SECRET = 'your secret code 2'
JWT_REFRESH_EXPIRESIN = '1d'